body {
    margin: 0 auto;
    width: 1440px;
}

.page__margin {
    margin-left: 105px;
}

/* header */
.header__padding_1 {
    margin-top: 5px;
}

.header__padding_2 {
    margin-right: 35px;
}

.header__padding_3 {
    margin-right: 35px;
}

.header__padding_4 {
    margin-right: 103px;
}

.header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 80px;
    border-bottom: 2px solid #E5E5E5;
}

.header__icon {
    padding-top: 5px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.header__item a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: black;
}

.header__item a span {
    padding-top: 2px;
}

.header__hover:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 28px;
}

.header__section {
    display: flex;
    align-items: center;
    text-align: center;
}

/* content */
.content__header h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding-top: 10px;
    color: rgba(26, 27, 34, 0.5);
    margin-top: 26px;
}

.content__header h2 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    font-weight: 400;
    word-break: break-all;
    margin-top: 30px;
}

.content__header h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.content__main {
    margin-top: 50px;
    padding-top: 65px;
    height: 1242px;
    background-color: #F5F6F7;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    width: 400px;
    height: 598px;
    border-radius: 130px;
    padding-right: 13px;
}

.card__header .card__category {
    border-radius: 12px;
    padding: 7px;
    background-color: white;
    height: 27px;
    width: 75px;

    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.card__header .card__delete_icon {
    padding: 7px;
    border-radius: 8px;
    background-color: white;
    height: 27px;
    width: 27px;
}

.card__header {
    height: 247px;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
    padding: 25px 25px 0 20px;
}

.card__content {
    display: flex;
    flex-direction: column;
    height: 282px;
    background-color: #FFFFFF;
    border-radius: 0 0 20px 20px;
    padding-left: 24px;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.card__content .date {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
}

.card__content a {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-decoration: none;
    color: black;
}

.card__content p {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.card__content .resource a {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.4px;
    text-transform: uppercase;

    color: #B6BCBF;
    padding-top: 30px;
}

.card__content .card__postname {
    margin-top: 10px;
}

.card__content .card__postinfo {
    margin-top: 17px;
}

.card__content .resource {
    margin-top: auto;
    margin-bottom: 18px;
}

/* footer */
.footer {
    display: flex;
    align-items: center;
    height: 64px;
}

.footer__section {
    align-items: center;
    text-align: center;
}

.footer__section span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
}

.footer__section a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    text-decoration: none;
    text-align: center;

    color: #1A1B22;
}