.content {
    margin: auto;
    max-width: 1232px;
}

.grid-container {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: space-between;
    row-gap: 17px;
}

.content__header h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
    color: rgba(26, 27, 34, 0.5);
    margin-top: 26px;
}

.content__header h2 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    font-weight: 400;
    word-break: break-all;
    margin-top: 30px;
}

.content__header h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-top: 30px;
}
