.footer__source {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
}

.link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    text-decoration: none;
    text-align: center;

    color: #1A1B22;
}

.footer__navigation {
    flex: 1 1 308px;
    display: block;
    text-align: right;
}

.footer__social {
    display: flex;
    margin-left: 40px;
    justify-content: space-between;
}

.footer__social .icon {
    width: 70px;
}

.footer__navigation a {
    margin-left: 50px;
}